.questionInput {
  border: none;
  padding: 10px;
  width: 400;
  min-height: 100px;
  box-shadow: "-3px 4px 30px -8px #000000";
  background-color: transparent;
  color: #FFF;
  
  &:focus {
    outline: none;
    resize: none;
  }
}

.responseContainer {
  color: white;
}